.search-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-wrapper > img {
    width: 2rem;
}

.search-input {
    box-sizing: border-box;  
    padding: 0.75rem;
    width: 100%;
    font-size: 1rem;
    max-width: 25rem;
    margin: 1rem 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    transition: all 0.3s ease;
}

.search-input:focus {
    outline: 1px solid #0056b3;; 
    border-color: #0056b3;;
}

.search-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    font-size: 16px;
    color: #ffffff;
    background-color: #0056b3;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease  ;
}

.search-button:hover, .search-button:focus {
    background-color: #006fe6;
}

.search-button:focus {
    outline: 1px solid #000; 
}

@media screen and (max-width: 500px) {
    .search-wrapper {
        flex-direction: column;
    }
    .search-wrapper > img {
        display: none;
    }
    .search-button {
        width: 100%;
    }
}



